@import "tailwindcss";

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    transition: background 0.3s;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.3);
  }

  /* Support for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.1) transparent;
  }
}

@theme {
  --color-grid-dot: rgba(128, 128, 128, 0.1);
}
